@model OdeToFood.Models.Restaurant

@{
    ViewBag.Title = "Reviews";
}

<h2>Reviews for @Model.Name</h2>

<p>
    @Html.ActionLink("New Review", "Create", new { restaurantId = Model.Id })
</p>

@Html.Partial("_Reviews", Model.Reviews)