@model IPagedList<RestaurantListViewModel>
@{
    ViewBag.Title = "Home Page";
}
<hr />

@*<form action="/" method="get">*@

    <form action="@Url.Action("Index")" method="get" data-otf-ajax="true"
          data-otf-target="#restaurantList"> 
        <input type="search" name="searchTerm" placeholder="Search By Name" autofocus data-otf-autocomplete="@Url.Action("Autocomplete")"/>
        <input type="submit" value="Go" class="btn btn-default" />
    </form>

@*@using (Ajax.BeginForm(new AjaxOptions {
    HttpMethod = "Get",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "restaurantList"
})) {
    <input type="search" name="searchTerm" placeholder="Search by name" autofocus class="form-control" />
    <input type="submit" value="Go" class="btn btn-default" />
}*@

@Html.Partial("_Restaurants", Model)